<%- include ('../../partials/header.ejs');%>
<%- include ('../../partials/navbar.ejs');%>
<div class="container py-5">
    
    <div class="card">
        
            <div class="card-header  bg-light">
                    Novo artigo
                    <hr>
            </div>
            <div class="card-body">
               
                <form method="POST" action="/admin/categories/save">
                    <label for="">Titulo</label><br>
                    <input class="form-control" type="text" name="title" placeholder="titulo do artigo"><br>
                    <textarea id="article" class="form-control" name="body" placeholder="Escreva o artigo aqui"></textarea><br>
                    <button class="btn btn-success">Cadastrar</button>
                 </form>
            </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs');%>

<script>
    tinymce.init({
        selector : "#article"
    });
</script>